.container {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 2px solid #f5dcc8;
  > .inside-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    > div:first-child {
      width: 50%;
      align-items: center;
      gap: 5%;
    }
    .user {
      > .img-container {
        img {
          width: 80px;
          height: 80px;
          border-radius: 10px;
          margin-right: 2px;
        }
      }
    }
  }
}

