<div class="container">
  <div class="inside-container">
    <div class="flex">
      <h3 routerLink="/feed">Culinary Canvas</h3>
    </div>

    <div *ngIf="user$ | async as user" class="user flex">
      <div class="img-container">
        <img src="../../../assets/spangebob.webp" alt="User photo" />
      </div>
      <div class="user-info flex column">
        <span>{{ user.name }}</span>
        <span>{{ user.email }}</span>
        <a (click)="logOut()">Log out</a>
      </div>
    </div>
    <div *ngIf="!(user$ | async)">
      <a routerLink="/login"> Login</a>
    </div>
  </div>
</div>
