.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid #F5DCC8;
  > .inside-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    > div:first-child {
        width: 50%;
      align-items: center;
      gap: 5%;
    }
    >div:last-child{
        align-items: center;
        gap: 4%;
        img{
            width: 60px;
            height: 60px;
        }
    }
  }
}
