<app-search-bar></app-search-bar>

<div *ngIf="recipe" class="container">
  <div class="title flex">
    <h3>{{ recipe.title }}</h3>
  </div>
  <div class="img-ingredients flex">
    <div class="img">
      <img [src]="recipe.thumbnail" alt="img" />
    </div>
    <div class="list">
      <h3>Ingredients:</h3>
      <li *ngFor="let ingredient of recipe.ingredients | splitByComma">
        {{ ingredient | capitalizeFirst }}
      </li>
    </div>
  </div>
  <div class="main-text">
    <div class="description">
      <h3>Description</h3>
      <p>{{ recipe.description }}</p>
    </div>
    <div class="instructions">
      <h3>Instructions</h3>
      <p>{{ recipe.instructions }}</p>
    </div>
    <div class="flex">
      <p>Prep Time: {{ recipe.prepTime }} Minute</p>
      <p>Likes: {{ recipe.likes }}</p>
      <div class="button-group">
        <button
          *ngIf="userId && !isFavorite(recipe.id)"
          (click)="addToFavorites(recipe.id)"
          class="details-btn"
        >
          Add to Favorites
        </button>
        <button
          *ngIf="userId && isFavorite(recipe.id)"
          (click)="removeFromFavorites(recipe.id)"
          class="details-btn"
        >
          Remove from Favorites
        </button>

        <button
          *ngIf="userId === recipe.authorId"
          [routerLink]="['/edit', recipe.id]"
          class="details-btn"
        >
          Edit
        </button>
        <button
          *ngIf="userId === recipe.authorId"
          [routerLink]="['/delete', recipe.id]"
          class="details-btn"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
