<!-- <div *ngIf="recipe" class="recipe-detail">
  <img [src]="recipe.thumbnail" alt="{{ recipe.title }}" />
  <h2>{{ recipe.title }}</h2>
  <p>{{ recipe.description }}</p>
  <h3>Ingredients</h3>
  <p>{{ recipe.ingredients }}</p>
  <h3>Instructions</h3>
  <p>{{ recipe.instructions }}</p>

  
  <button (click)="toggleFavorite()">
    {{ userService.hasFavorited(recipe.id) ? 'Unfavorite' : 'Favorite' }}
  </button>

  <h3>Comments</h3>
  <ul>
    <li *ngFor="let comment of recipe.comments">
      <strong>{{ comment.author }}:</strong> {{ comment.text }}
    </li>
  </ul>
  <input [(ngModel)]="newComment" placeholder="Add a comment..." />
  <button (click)="addComment()">Comment</button>
</div> -->
<div *ngIf="recipe" class="container">
  <div class="title flex">
    <h3>{{ recipe.title }}</h3>
  </div>
  <div class="img-ingredients flex">
    <div class="img">
      <img [src]="recipe.thumbnail" alt="img" />
    </div>
    <div class="list">
      <h3>Ingredients:</h3>
      <li *ngFor="let ingredient of recipe.ingredients | splitByComma">
        {{ ingredient }}
      </li>
    </div>
  </div>
  <div class="main-text">
    <div class="description">
      <h3>Description</h3>
      <p>{{ recipe.description }}</p>
    </div>
    <div class="instructions">
      <h3>Instructions</h3>
      <p>{{ recipe.instructions }}</p>
    </div>
    <div class="flex">
      <p>Prep Time: {{ recipe.totalPreparationTime }} Minute</p>
      <p>Likes: {{ recipe.likes }}</p>
    </div>
  </div>
</div>
