<app-search-bar></app-search-bar>
<div class="buttons">
  <button *ngIf="user$" routerLink="/add" class="add-recipe-btn">
    <span>+</span> Add Recipe
  </button>
  <button
    *ngIf="user$"
    class="add-recipe-btn"
    [routerLink]="['/search']"
    [queryParams]="{ filter: 'favorites' }"
  >
    Favorites
  </button>
</div>

<div class="container">
  <div class="recipes">
    <button [routerLink]="['/search']" [queryParams]="{ filter: 'popularity' }">
      Most Popular
    </button>
    <app-sorted-recipes [sliceArray]="8" [filterType]="'popularity'"></app-sorted-recipes>
  </div>
  <div class="recipes">
    <button [routerLink]="['/search']" [queryParams]="{ filter: 'time' }">
      New Recipes
    </button>
    <app-sorted-recipes [sliceArray]="8" [filterType]="'time'"></app-sorted-recipes>
  </div>
  <div class="recipes">
    <button [routerLink]="['/search']" [queryParams]="{ filter: 'quick' }">
      Quick
    </button>
    <app-sorted-recipes [sliceArray]="8" [filterType]="'quick'"></app-sorted-recipes>
  </div>
</div>
